<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
	<div id="url-short">
		<div id="form-container">
			<h1>Enter your url</h1>
			<form action="" method="POST">
				<input type="text" name="FullUrl">
				<input type="submit" value="Go" class="btn">
			</form>
		</div>
		{{ if .ShowMessage }}
			<div id="message-container">
				{{ if .ShortUrl }}
					<p class="success-message">Your short url:
						<a href="{{ .ShortUrl }}" target="_blank">{{ .ShortUrl }}</a>
					</p>
				{{ end }}
				{{ if .ErrorMessage }}
					<p class="error-message">{{ .ErrorMessage }}</p>
				{{ end }}
			</div>
		{{ end }}
	</div>
</body>
</html>
