<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
	<div id="url-short">
		<div id="form-container">
			<h1>Enter your url</h1>
			<form action="">
				<input type="text">
				<input type="submit" value="Go" class="btn">
			</form>
		</div>
		<div id="message-container">
			<p class="success-message">Your short url: <a href="https://google.com" target="_blank">google.com</a></p>
			<p class="error-message">Error occured: UNKNOWN</p>
		</div>
	</div>
</body>
</html>
